pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
ydata_profiling 
groq
streamlit
plotly
reportlab
streamlit_scroll_to_top
llama-index-core
llama-index-llms-groq
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
shap
imblearn
xgboost